.partners {
    padding: 75px 0;
    
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    &__info {
        width: 100%;
        max-width: 558px;
    }
    &__title {
        margin-bottom: 40px;
        text-align: center;
    }
    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    &__card {
        display: flex;
        width: 267px;
        height: 130px;
        padding: 36px;
        background-color: $grey;
        border-radius: 10px;
        transition: .3s;
        &:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
            margin: 0 auto;
        }
        &:hover {
            transform: scale(1.1);
            background-color: darken($color: $grey, $amount: 5%);
        }
    }
    &__img-wrap {
        display: flex;
        align-items: center;
    }

    @media (max-width: 1023px) {
        &__info {
            max-width: 40%;
        }
        &__wrap {
            grid-template-columns: 1fr;
        }
        &__card {
            width: 100%;
            &:first-child {
                grid-column-end: 1;
            }
        }
        &__img-wrap {
            width: 70%;
        }
    }

    @media (max-width: 767px) {
        padding: 50px 0;
        
        &__container {
            flex-direction: column;
        }
        &__info {
            max-width: 100%;
        }
        &__img-wrap {
            width: 100%;
        }
    }
}
