.services {
    padding: 75px 0;
    
    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    &__info {
        width: 100%;
        max-width: 558px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__wrap {
        display: flex;
        gap: 24px;
    }
    &__list {
        padding: 24px;
        border-radius: 10px;
        &--main {
            background-color: $bg-color-main;
            .services {
                &__list-wrap {
                    flex-direction: column;
                }
            }
        }
        &--secondary {
            background-color: $bg-color-secondary;
            .services {
                &__list-item {
                    text-transform: uppercase;
                }
            }
        }
    }
    &__list-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px
    }
    &__list-title {
        @include font-style($exo, 24px, 700, $white);

        margin-bottom: 24px;
        line-height: 140%;
        text-align: center;
    }
    &__list-item {
        @include font-style($open-sans, 18px, 400, $white);

        line-height: 140%;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__img-wrap {
        display: flex;
        align-items: center;
    }

    @media (max-width: 1023px) {
        &__title {
            text-align: center;
        }
        &__wrap {
            flex-direction: column;
        }
        &__info {
            max-width: 30%;
        }
        &__img-wrap {
            width: 70%;
        }
    }
    
    @media (max-width: 767px) {
        padding: 40px 0;

        &__container {
            flex-direction: column;
        }
        &__info {
            max-width: 100%;
        }
        &__list-wrap {
            flex-direction: column;
        }
        &__inner {
            flex-direction: row;
            .services {
                &__list {
                    width: 50%;
                }
            }
        }
        &__img-wrap {
            width: 100%;
        }
    }
    
    @media (max-width: 550px) {
        &__inner {
            flex-direction: column;
            .services {
                &__list {
                    width: 100%;
                }
            }
        }
    }
}
