.burger-menu {
    position: relative;
    display: none;
    width: 48px;
    cursor: pointer;
    transition: 0.3s ease;
  
    &__item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 3px;
        background-color: $bg-color-main;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 24px;
            height: 3px;
            background-color: $bg-color-main;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            transition: 0.3s ease;
        }
        &:before {
            top: -7px;
        }
        &:after {
            top: 7px;
        }
    }
    &--active {
        .burger-menu {
            &__item {
                border-radius: 5px;
                height: 0;
                &:before,
                &:after {
                    top: 0;
                    border-radius: 5px;
                }
                &:before {
                    transform: rotate(225deg);
                }
                &:after {
                    transform: rotate(-225deg);
                }
        }
      }
    }
    
    @media (max-width: 1023px) {
        display: block;
    }
  }
  