.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    background-color: #F9F1EE;

    &__contact {
        @include font-style($exo, 16px, 700, $main);

        margin-bottom: 12px;
        line-height: 140%;
    }
    &__link {
        @include font-style($open-sans, 16px, 400, $secondary);

        transition: .3s;
        &:hover {
            transform: scale(1.1);
            text-decoration: underline;
        }
    }
    .logo {
        margin-bottom: 24px;
    }
    .nav {
        margin-bottom: 28px;
    }
    .socials {
        margin-bottom: 28px;
    }
}
