.header {
    display: flex;
    justify-content: space-between;
    
    &__wrap {
        display: flex;
        align-items: center;
        .button {
            width: 111px;
            height: 48px;
        }
    }
    &__nav {
        margin-right: 64px;
    }

    @media (max-width: 1023px) {
        &__wrap {
            position: absolute;
            top: 96px;
            left: 0;
            right: 0;
            transform: translateX(-100%);
            justify-content: space-between;
            align-items: center;
            padding: 40px;
            background-color: #F9F1EE;
            transition: 0.3s ease;
            &--mobile-open {
                transform: translateX(0);
            }
        }
    }
    @media (max-width: 767px) {
        &__wrap {
            flex-direction: column;
            gap: 46px;
        }
    }
}